*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.carte{
    border: 12px;
    border-radius: 10px;
}
 
.flex{
    display: flex;
    flex-wrap: wrap;
}
 
.space-evenly{
    justify-content: space-evenly;
}
 
.space-between{
    justify-content: space-between;
}
 
.text-center{
    text-align: center;
}
 
.mb128{
    margin-bottom:  128px;
}
 
.w-30{
    width: 30%;
}
 
.p32{
    padding: 32px;
}
 
.bg-green{
    background-color: green !important;
}
 
.bg-crimson{
    background-color: crimson;
}
 
.pixel{
    border: 5px solid;
    border-color: black;
    width: 100px;
    height: 100px;
}
 
.align-center{
    align-items: center;
}